# Build directories
build/
**/build/

server/kinematics_logs/
server/logs/

# ESP-IDF specific
sdkconfig.old
**/.vscode/
**/.devcontainer/

# Python
__pycache__/


# Temporary files
*.tmp
*.temp

.venv
 
# Project specific ignores
Information/
**/Information/
Informations/
**/Informations/
FlowChart/
**/FlowChart/
docs/
**/docs/
build_robot1/
**/build_robot1/
robot1.bin
robot2.bin
**/robot1.bin
**/robot2.bin

# Agent rules config
.agent/
**/.agent/