# Build directories
build/
**/build/

server/kinematics_logs/
server/logs/

# ESP-IDF specific
sdkconfig.old
**/.vscode/
**/.devcontainer/

# Python
__pycache__/


# Temporary files
*.tmp
*.temp

.venv